body {
    background: #0f172a;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    width: 400px;
    margin: 80px auto;
    padding: 30px;
    background: #020617;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
}

button {
    padding: 10px 20px;
    background: #ef4444;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #dc2626;
}
